.history-sign {
    height: 100px;
    width: 97%;
    margin-bottom: 10px;
    color: #1B1B1B;
    font-weight: bold;
    font-size: 10pt;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
  }
  