.hist-equation {
    height: 50px;
    width: 97%;
    margin-bottom: 10px;
    padding: 0 10px;
    border-radius: 10px;
    color: white;
    font-weight: normal;
    font-size: 16px;
    font-family: monospace;
    box-sizing: border-box;
}

.hist-equation .expression {
    font-weight: lighter;
    font-size: 16px;
    color: #5E5E5E;
    margin-bottom: 5px;
}

.hist-equation .result {
    font-size: 18px;
    color: #000000;
}
  