.hist-equation {
    min-height: 60px;
    height: fit-content;
    width: 350px;
    margin-bottom: 20px;
    padding: 0 10px;
    color: white;
    font-family: monospace;
    box-sizing: border-box;
    align-content: center;
    text-align: right;
}

.hist-equation:hover{
    background-color: #EAEAEA;
}

.hist-equation:active{
    background-color: #EAEAEA;
    padding: 1px 10px;
}

.hist-equation:active .expression, .hist-equation:active .result {
    color: #5F5F5F;
}

.hist-equation:active .expression {
    font-size: 15.9px;
}

.hist-equation:active .result {
    font-size: 17.9px;
}

.hist-equation .expression {
    font-weight: lighter;
    font-size: 16px;
    color: #5E5E5E;
    margin-bottom: 5px;
    width: 350px;
}

.hist-equation .result {
    font-weight: bolder;
    font-size: 18px;
    color: #000000;
}
  