button {
    border: #E5E5E5 1px solid;
    box-shadow: 0 1px 0 #CCCCCC;
    background-color: #FFFFFF;
    font-size: 24px;
    color: #1B1B1B;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: #FCFCFC;
  }

  button:active {
      box-shadow: none;
      background-color: #F9F9F9;
      color: #5F5F5F;
  }
  
  .equals {
    box-shadow: none;
    grid-column: 3 / 5;
    background-color: #363533;
    color: #FFFFFF;
  }
  
  .equals:hover {
    background-color: #494846;
  }

  .equals:active{
      background-color: #5C5B59;
      color: #CECECE;
  }
  