.wrapper {
    min-width: 680px;
    width: auto;
    height: 540px;
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(315deg, #F3F3F3 0%, #F1F1F1 74%);
    display: flex;
    gap: 10px;
    align-items: flex-start;
    box-shadow: 0 0 20px 0 #7e7e7e;
  }
  